<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.uj.warrantytrackerapp">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- For Android 13+ (Media Permissions) -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <!-- Only needed for API <= 28 -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Warrantytrackerapp"
        tools:targetApi="31">

        <!-- FileProvider for camera image storage -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- Activities -->
        <activity android:name=".OCRCaptureActivity" android:exported="false" />
        <activity android:name=".ManualEntryActivity" android:exported="false" />
        <activity android:name=".AddWarrantyActivity" android:exported="false" />
        <activity android:name=".ViewSavedWarrantiesActivity" android:exported="false" />
        <activity android:name=".RegisterActivity" android:exported="false" />
        <activity android:name=".MainActivity2" android:exported="false" />
        <activity android:name=".WarrantyItem" android:exported="false" />

        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.Warrantytrackerapp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
